# XDG
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"

# PATH
export PATH=$HOME/.local/bin:$PATH

# Cargo
export CARGO_HOME="$HOME/.cargo"
export PATH=$HOME/.cargo/bin:$PATH

. "$HOME/.cargo/env"
