[user]
	name = Simon Biquard
	email = {{ .gitemail }}
	signingkey = {{ .gitsigningkey }}
[core]
	editor = hx
[init]
	defaultbranch = main
[commit]
	gpgsign = true
	verbose = true
[tag]
	gpgSign = true
	sort = version:refname
[column]
	ui = auto
[branch]
	sort = -committerdate
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[pull]
	rebase = true
{{- if eq .chezmoi.hostname "tour-simon-camille" }}
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3
[credential]
	credentialStore = gpg
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
{{- end }}
