# zoxide
zoxide init fish | source

# environment modules
source /usr/share/{{ .envmodules }}/init/fish
{{- if eq .chezmoi.hostname "apcnb2205" }}
module use ~/intel-oneapi-modulefiles
{{- end }}

# fzf key bindings
fzf --fish | source

# jj completions
jj util completion fish | source

# uv completions
uv generate-shell-completion fish | source
uvx --generate-shell-completion fish | source

# prompt
starship init fish | source
